.cards-container {
  max-width: 1100px;
  margin: 40px auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 30px;
}

.home-card {
  width: 310px;
  background: white;
  border-radius: 16px;
  text-align: center;
  color: black;
  padding-bottom: 20px;
  text-decoration: none;
  box-shadow: 0 0 12px rgba(0,0,0,0.2);
  transition: 0.3s;
}

.home-card img {
  width: 100%;
  height: 210px;
  border-radius: 16px 16px 0 0;
}

.home-card:hover {
  transform: scale(1.05);
}